/* Rectangle 2 */

.Bg {
    position: relative;
    width: 1440px;
    height: 1024px;
    left: 0px;
    top: 0px;

    background: rgba(30, 144, 255, 0.5);
}


/* Saly-1 */

.Saly {
    position: absolute;
    left: 455.15px;
    top: 277.06px;
    width: 855px;
    height: 810.98px;

    transform: rotate(-15.51deg);
}


/* Frame 1 */

.navbar {
    position: absolute;
    width: 1196px;
    height: 83px;
    left: 122px;
    top: 41px;

    background: #FEFEFE;
    border-radius: 12px;
}

/* LOGO */
.logo {
    position: absolute;
    width: 93px;
    height: 42px;
    left: 64px;
    top: 25px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;

    color: #0A2541;
}


/* Group 1 */

.menu {
    position: absolute;
    width: 305px;
    height: 19px;
    left: 446px;
    top: 35px;
}


/* Home */

.Home {
    position: absolute;
    width: 43px;
    height: 19px;
    left: 446px;
    top: 35px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}


/* Illustrations */

.Illustrations {
    position: absolute;
    width: 85px;
    height: 19px;
    left: 549px;
    top: 35px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}


/* Contact */

.Contact {
    position: absolute;
    width: 57px;
    height: 19px;
    left: 694px;
    top: 35px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: #000000;
}


/* Frame 3 */

.Frame3 {
    box-sizing: border-box;

    position: absolute;
    width: 127px;
    height: 41px;
    left: 866px;
    top: 24px;

    background: #FFFFFF;
    border: 1px solid #7372FF;
    border-radius: 5px;
}


/* Sign up */

.SignUp {
    position: absolute;
    width: 55px;
    height: 19px;
    left: 36px;
    top: 11px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
    color: #4443D0;
}


/* Frame 2 */

.Frame2 {
    position: absolute;
    width: 127px;
    height: 41px;
    left: 1021px;
    top: 24px;

    background: #4443D0;
    border-radius: 5px;
}


/* Sign in */

.SignIn {
    position: absolute;
    width: 50px;
    height: 19px;
    left: 36px;
    top: 11px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
    color: #FFFFFF;
}


/* Frame 4 */

.Frame4 {
    position: absolute;
    width: 127px;
    height: 41px;
    left: 122px;
    top: 791px;

    background: #4140CD;
    border-radius: 5px;
}

/* Sign up */

.SignUp2 {
    position: absolute;
    width: 55px;
    height: 19px;
    left: 36px;
    top: 11px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
    color: #FFFFFF;
}


/* Make Your Business Stand out! */

.art_head {
    position: absolute;
    width: 602px;
    height: 150px;
    left: 122px;
    top: 403px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;

    color: #0A2541;
}

/* We provide the best illutration packs avaliable on the market */

.art_body {
    position: absolute;
    width: 549px;
    height: 26px;
    left: 122px;
    top: 570px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
}

/* Frame 5 */

.Frame5 {
    box-sizing: border-box;

    position: absolute;
    width: 475px;
    height: 50px;
    left: 122px;
    top: 713px;

    background: #FFFFFF;
    border: 1px solid #2A92F9;
    border-radius: 10px;
}


/* Email */

.textbox {
    position: absolute;
    width: 40px;
    height: 19px;
    left: 22px;
    top: 16px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #9F9F9F;
}

/* Join our newsletter */

.label {
    position: absolute;
    width: 137px;
    height: 19px;
    left: 130px;
    top: 687px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.5);
}


